[Desktop Entry]
Name=phyOS Welcome
GenericName=phyOS Welcome
Comment=Welcome App for phyOS installation
Exec=st -e /usr/local/bin/phyOS-lukspass
Icon=phyOS-logo
Terminal=false
Type=Application
Categories=Qt;Settings;Security;
Keywords=welcome;
StartupNotify=true
